body{
  background-color:#000000;
}
*{
  box-sizing:border-box;
}
#wrapper, html, body{
  min-height:100%;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  height:100%;
  background-color:rgb(0, 0, 0);
}
#wrapper{
  overflow-y:auto;
  overflow-x:hidden;
}
* ::-webkit-scrollbar-track{
  background-image:initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat-x:initial;
  background-repeat-y:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgba(0, 0, 0, 0.1);
}
* ::-webkit-scrollbar-thumb{
  background-image:initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat-x:initial;
  background-repeat-y:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgba(255, 255, 255, 0.2);
}
* ::-webkit-scrollbar{
  width:10px;
}
.gjs-dashed [data-highlightable]{
  outline-color:rgba(170, 170, 170, 0.7);
  outline-style:dashed;
  outline-width:1px;
  outline-offset:-2px;
}
.row{
  text-align:center;
  right:0px;
  float:none;
}
.col:empty{
  display:table-cell;
  height:75px;
}
.col.m12{
  height:14px;
  right:580px;
  text-align:center;
  min-height:1px;
  background-color:rgb(255, 255, 255);
}
.col.m12.white{
  height:73px;
  float:none;
  display:block;
  position:static;
}
.center-box{
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  max-width:500px;
  height:auto;
}
.center-box:empty{
  height:75px;
}
.parallax-container .section{
  width:100%;
}
.blogpost .date{
  z-index:2;
  position:absolute;
  background-image:initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat-x:initial;
  background-repeat-y:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgb(255, 255, 255);
  padding-top:8px;
  padding-right:8px;
  padding-bottom:8px;
  padding-left:8px;
  box-shadow:rgba(116, 116, 116, 0.3) 0px 1px 3px;
  top:40px;
  right:-4px;
}
.blogpost .img-wrap{
  width:100%;
  overflow-x:hidden;
  overflow-y:hidden;
  height:240px;
}
.blogpost .img-wrap img{
  width:100%;
  object-fit:cover;
  height:100%;
  transition-duration:0.4s;
  transition-timing-function:ease;
  transition-delay:0s;
  transition-property:all;
}
.blogpost .img-wrap:hover img{
  transform:scale(1.1);
}
.blogpost .title{
  color:rgb(34, 34, 34);
  font-size:28px;
}
.blogmeta ul li{
  position:relative;
  width:50%;
}
.blogmeta ul li span{
  position:absolute;
  top:4px;
  left:28px;
  margin-bottom:10px;
}
.c7788{
  height:282px;
  width:500px;
  border-top-width:10px;
  border-right-width:10px;
  border-bottom-width:10px;
  border-left-width:10px;
  border-top-style:none;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:none;
  border-top-color:rgb(255, 255, 255);
  border-right-color:rgb(255, 255, 255);
  border-bottom-color:rgb(255, 255, 255);
  border-left-color:rgb(255, 255, 255);
  border-image-source:initial;
  border-image-slice:initial;
  border-image-width:initial;
  border-image-outset:initial;
  border-image-repeat:initial;
}
.c3345{
  height:282px;
  width:500px;
  border-top-width:9px;
  border-right-width:9px;
  border-bottom-width:9px;
  border-left-width:9px;
  border-top-style:none;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:none;
  border-top-color:rgb(255, 255, 255);
  border-right-color:rgb(255, 255, 255);
  border-bottom-color:rgb(255, 255, 255);
  border-left-color:rgb(255, 255, 255);
  border-image-source:initial;
  border-image-slice:initial;
  border-image-width:initial;
  border-image-outset:initial;
  border-image-repeat:initial;
}
.c2940{
  position:static;
  text-align:center;
  font-family:Helvetica, serif;
  font-weight:700;
  font-size:30px;
  color:rgb(255, 255, 255);
  line-height:50px;
}
.col.m9{
  top:-60px;
}
.c804{
  font-family:Helvetica, serif;
  font-weight:700;
  font-size:30px;
  color:rgb(255, 255, 255);
  text-align:center;
  line-height:47px;
}
.c10030{
  font-family:Helvetica, serif;
  font-size:235px;
  line-height:0;
}
@media only screen and (max-width: 992px){
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
  .parallax-container .section{
	position:absolute;
	top:40%;
  }
}
@media (min-width: 768px){
  .blogmeta ul li{
	float:left;
  }
  .blogmeta ul li{
	float:left;
  }
}
@media (max-width: 768px){
  .col.m12.white{
	float:none;
  }
  .col.m12.white{
	float:none;
  }
}
